body {
    background-color: #FFCC66;
    }

.job-title {
    color:palevioletred;
    background-color: purple;


}

#high {color:palevioletred};


h1 {

    color:rgb(59, 2, 65);
}

ul{
    color:mediumvioletred;
    background-color: salmon;
}