@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body{

    color: lightyellow;
}

h1{

    color: rgb(221, 10, 10);
    font-family: 'Roboto', sans-serif;
    text-align: center;

}

.media-picture {

    height: 600px;
    width: 100%;
    background-image: url(https://diariodonordeste.verdesmares.com.br/image/contentid/policy:1.2096832:1590228471/amelie.jpg?f=default&$p$f=ecf37fe);
    background-position: center;
    background: cover;
}

.review-score {

    color:chocolate;
    background-color: ghostwhite;
    padding: 12px;
}

h2 {

    color:darkred;
    text-align: center;
}

p {

    color:brown;
    font-family: 'Roboto', sans-serif;
}

a {

    color: red;
}